* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }

  body {
    border: 3px solid #dc143c;
  }

  .sec {
    padding-left: 13em;
  }

  .container {
    width: 100%;
    margin: 0px;
    line-height: 150%;
  }

  #left {
    float: left;
    width: 160px;
    padding: 1em;
  }

  .co {
    padding-right: 1.7rem;
  }

  .out {
    padding-right: .6rem;
  }

  .nav-links li {
    list-style: none;
    padding: 5px;
    border: 1px solid silver;
    text-align: center;
  }

  .nav-links a {
    color: #9370d8;
    text-decoration: none;
  }

  .header-text {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    padding-left: 3rem;
    padding-right: 4rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .header-text a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
  }

  span {
    color: #9370d8;
  }

  .home-container h2 {
    color: #9370d8;
  }

  a:hover {
    color: #dc143c;
  }

  span:hover {
    color: #fff;
  }

  /* --- Home section --- */

  .home {
    margin-top: 4.3rem;
    margin-left: 190px;
    padding: 1em;
  }

  .home-subtitle {
    color: #dc143c;
    margin-top: 1rem;
  }

  /* --- body --- */

  #desc h3, #content h3, #outcomes h3 {
    margin-top: 1.5rem;
    margin-bottom: .8rem;
    text-transform: uppercase;
    color: #9370d8;
  
  }

  #desc  p::first-letter{
    color: mediumpurple;
    font-size: xx-large;
  }

  .content, .outcomes-heading ul {
    margin-left: 2rem;
  }

  .content-heading {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #dc143c;
  }

  .outcomes {
    margin-top: .3rem;
    margin-bottom: 1rem;
    margin-right: 54rem;
  }
  
  .outcomes-heading h4 {
    margin-right: 20rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #dc143c;
  }
  
  .last-p {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  /* --- Footer --- */

  footer {
    background-color: #333;
    padding: 1rem 3rem;
    margin-top: 2rem;
  }
  
  footer p {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    opacity: 0.3517;
    padding-bottom: auto;
  }
